################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ShipSystemsManager/bin
/ShipSystemsManager/obj
/ShipSystemsManager/MDK.option
**/bin
**/obj
/.vs
